<nav class="navbar">

    <div class="logo">
        <a href="/">🏀 Smart Hoop Tracker</a>
    </div>

    <ul class="nav-links">
        <li><a href="/">Home</a></li>
        <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
        <li><a href="#">Trainings</a></li>
        <li><a href="#">Stats</a></li>

        {% if user.is_authenticated %}

        <li>
            <a href="#">
                {{ user.username }}
            </a>
        </li>

        <li>
            <a href="{% url 'logout' %}">
                Logout
            </a>
        </li>

        {% else %}

        <li>
            <a href="{% url 'login' %}">
                Login
            </a>
        </li>

        <li>
            <a href="{% url 'register' %}">
                Register
            </a>
        </li>

        {% endif %}
    </ul>

</nav>