{% extends 'base.html' %}

{% block content %}
<section class="auth-section">
    <div class="auth-container">
        <div class="auth-card">
            <h2>Change Password</h2>

            <form method="POST">
                {% csrf_token %}

                {{ form.as_p }}

                <button type="submit" class="btn btn-primary" style="width: 100%; margin-top: 20px;">
                    Change Password
                </button>
            </form>

            <div style="text-align: center; margin-top: 15px;">
                <a href="{% url 'profile' %}" class="auth-btn" style="background-color: #333; color: #ccc; text-decoration: none; padding: 10px 20px;
                display: inline-block;">Cancel</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}